body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-color: rgb(202, 202, 202)
}

.centro {
    border: 2px solid black;
    width: 400px;
    margin: 4px;
    padding: 10px;
}

.inputs input {
    text-align: center;
    border-radius: 8px;
    border: 1px solid blue;
    background-color: rgb(255, 255, 255);
    margin: 2px;
    padding: 5px;
}

.inputs input::placeholder{
    color: rgb(148, 148, 148);
}

button{
    align-items: center;
}
