body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.centro {
    border: 2px solid black;
    width: 400px;
    margin: 4px;
    padding: 10px;
}

.inputs input {
    text-align: center;
}
